/* Colors

Raisin Black: #242423
Rusty Red: #D62246
Mystic: #DB5375
Kelly Green: #29BF12
Green-Yellow: #ABFF4F
White Smoke: #F5F5F5

/* General */

body {
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
    overflow-x: hidden;
}

/* Landing */

.navbar {
    background-color: transparent;
    margin-bottom: 0;
}

.navbar .navbar-brand, .nav-link {
    color: #fff;
    opacity: .7;
    transition: .5s;
}

    .navbar .navbar-brand:hover, .nav-link:hover {
        color: #fff;
        opacity: 1;
    }

.header {
    background-image: url("../images/pg.jpg");
    background-position: center center;
    background-size: cover;
    filter: grayscale(.5);
    margin-bottom: 10vh;
    height: 100vh;
    width: 100vw;
}

/* Trade Interface */

.cats {
    background-color: #242423;
    color: white;
    text-transform: uppercase;
}

form .no-border {
    border-top: 0px;
}